# Automatic output logs
*.pdf

# Venbla geometry incarnations
Venbla_*
Venbla/

# Generated instrument binaries
*.out
*.c

# Temporary files
tmp*

# mcpl data
*.mcpl*

# old stuff
old_files/
hibeam_old.instr
monolith_guide_old.off
hibeam/hibeam_no_monolith.instr
hibeam/hibeam_pos_monitor.instr
